.theme--light.v-application {
  background: #616161 !important;
  color: #ffffff !important;
}
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
.v-list--three-line .v-list-item .v-list-item__subtitle,
.v-list-item--three-line .v-list-item__subtitle {
  -webkit-line-clamp: 5 !important;
}
.card-page {
  .v-image {
    height: 400px;
  }
}
.color-card {
  background: none !important;
}